
@charset "utf-8";
/* CSS Document */
/* foodstyles.css */


body {
	background-image:url(halloween-background.jpg);
  font-size: 1.1em;
 font-family: 'Creepster', cursive;
}

#container {
   width: 30%;
   border-width: 1px;
   margin: 0 auto;
    border-top: solid thin white;
  border-bottom: solid thin white;
  background-color:#DBDBDB;
   opacity: 0.8;
  filter: alpha(opacity=80);
  padding: 1em;
  
}


#container h3 { 
  text-align: center;
  text-transform: uppercase;
  font-family: 'Creepster', cursive;
  font-size:36px;
 
}


img {
  display: block;
  margin: 0 auto;
}

img.vertical {
  vertical-align: middle;
}