body {
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	//background-image:url(../img/sativa.png);
}

h1 {
	line-height:50px;
	font-weight:900;
	font-size:30px;
	text-transform:uppercase;
	text-align:center;
	color:#4A66FD;
	border: #990218;
	border-style: solid;
	border-width: 2;
}

h2 {
padding-top: 50px;
color:#424242;
}

table {
    border-collapse: collapse;
    width: 40vw;
}

table, th, td {
   border: 1px solid black;
}
th, td {
    padding: 5px 15px;
}
th {
    text-align: center;
}
td {
    text-align: left;
}

footer {
	padding-top: 35px;
}
footer a {
	font-size: 30px;
	
	background-color: none;
	animation-name: example;
	animation-duration: 2s;
	animation-iteration-count: 20;
	}

	/* Standard syntax */
	@keyframes example {
		from {background-color: red;}
		to {background-color: yellow;}
	}