/* // found the double slash works as a single line comment */
/* use # for ID */
/* use . for class */

/* Reset all CSS */
* 	{
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #a5a29e

}	
#container {
	//border: 5px solid red;
	width:85%;
	margin: auto;
}

#banner {
	text-align: center;
	//border: 3px solid green;
}
#myName {
	text-align: right;
	//border: 3px solid orange;
	
	
}
#pageView {
	border: 3px solid gold;
	background-color: #798682
}
#leftNav {
	//border: 3px solid darkviolet;
	float: left;
	width: 200px;
	padding: 15px 0;
	text-align: center;
	background: #444f59;
	text-shadow: 0px 1px 2px #920720;
	font-family: fantasy;
	letter-spacing: 2px;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase; 
	color: #2d0000;
	
}
#content {
	//border: 3px solid skyblue;
	margin-left: 210px;
	padding: 5px;
	
	
}
#footer {
	//border: 3px solid saddlebrown;
	clear: both;
}
h1 {
	color: #466f3c;
	font-family: 'Raleway',sans-serif; 
	text-shadow: 3px 2px #8fa5a3, 5px 4px #777;
	letter-spacing: 5px;
	font-size: 42px; 
	font-weight: 300;
	line-height: 38px;
	margin: 12px 0px 24px; 
	text-align: center; 
	text-transform: uppercase; 
}
h3 {
	padding: 0 0 8px 0;
}
ol, ul {
	list-style-type: none;	
	padding: 0px 5px 0px 5px;
	
}
ul li a {
	
}
#leftNav li a:hover {
	background: #df1802;
	
	
	
}


a {
	color: inherit;
	text-decoration-line: none;
}
#content a {
	color:#ff3939;
	background-color: #1f2029;
	font-family: arial;
	padding: 10px;
	line-height: 40px;
	border: 1px solid gold;
	box-shadow: inset 0px 0px 0px 2px #ff0000;
	
}
.assignmentLinks {
	padding-bottom: 15px;
}
.section {
	background: #8997AB;
	padding: 10px;
	margin: 10px;


}
#footer {
	padding: 25px;
	text-align: center;
}